body{
    background: url(witch_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container-image{
    width: 500px;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question{
    width: 680px;
    text-align: center;
    margin-top: 50px;
    color: white;
}


.hint {
    color: white;
    text-align: center;
    padding-top: 150px;

}

.next{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    transform: translateX(600px);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    bottom: 180px;
    position: absolute;
    border-radius: 5px;
}

a{
    text-decoration: none;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: black;
  }

.rotate90 {
    transform: scaleX(-1);
}