*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}

:root{
    --black:#000000;
    --violet-dark: #843efe;
    --violet-light: #e6b2f3;
    --gray: hsl(253, 15%, 70%);
    --border:.1rem solid rgba(0,0,0,.2);
    --dark-violet: hsl(252, 100%, 12%);
    --light-violet: hsl(252, 80%, 16%);
    --space-cadet: #1D1F40;
    --white: #FFFFFF;
    --borderline: #2e5984;
    --transition: all 0.3s ease;
    --gradient: linear-gradient(to right, var(--violet-light), var(--violet-dark))
}


body{
    font-family: "Kanit", sans-serif;
    line-height: 1.7;
    background: var(--dark-violet);
}


/* Header */
header {
  background: var(--light-violet);
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 4;
  padding: 0.5vw 5vw;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.30);
}

header.active {
  top: 0;
}


header .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 90px;
  cursor: pointer;
}

.header-action{
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 4rem;
}

.header-action a {
  font-size: 26px;
  color: var(--white);
  font-weight: 500;
  transition: var(--transition);
  padding: 20px 30px;
  border-radius: 4px;
}

.header-action li{
  position: relative;
}

.header-action li::after{
  --scale:0;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: left;
  width: calc(100% - 20px);
  height: 2px;
  background: var(--gradient);
  transition: var(--transition);
}

.header-action li:is(:hover, :focus){
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.header-action li:is(:hover, :focus)::after{
  --scale:1;
}




/* Sidebar */
#side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: var(--white);
  border-right: var(--border);
  left: -250px;
  transition: all .5s ease;
}

#side-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#side-bar ul li {
  border-top: 1px solid var(--borderline);
  border-bottom: 1px solid var(--borderline);
}

#side-bar ul a {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
}

#side-bar .course ul a {
  display: flex;
  height: 60px;
  padding-left: 20px;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  text-align: center;
}

#side-bar ul a i {
  margin-right: 10px;
}

#side-bar ul li:hover a {
  padding-left: 30px;
}

#side-bar .profile a {
  text-decoration: none;
  background-color: var(--white);
  font-size: 0.9rem;
  line-height: 25px;
  padding: 13px 30px;
  font-weight: 600;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--background);
}

#side-bar .profile a.btn:hover {
  color: var(--white);
  background: var(--background);
}

#side-bar .profile {
  padding: 3rem 2rem;
  text-align: center;
}

#side-bar .profile .img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: contain;
  margin-top: 50px;
  margin-bottom: 10px;
}

#side-bar .profile .logo-image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: contain;
  margin-top: 50px;
  margin-bottom: 5px;
}

#side-bar .profile .name {
  font-size: 20px;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#side-bar .profile .role {
  font-size: 16px;
  color: var(--light-color);
  margin-bottom: 16px;
}

/* Sidebar button */
#check {
  display: none;
}

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background: var(--background);
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 100px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

label #cancel {
  z-index: 1111;
  left: -195px;
  top: 100px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all .5s ease;
  position: fixed;
}

#check:checked ~ #side-bar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

/* Footer */

footer {
  background-color: var(--light-violet);
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-top {
  padding: 5vw 10vw;
  border-bottom: 1px solid var(--black);
  width: 100%; /* Ensure it spans the full width */
}

.footer-brand .logo {
  margin-bottom: 25px;
}

.footer-text {
  color: var(--gray);
  line-height: 1.6;
  font-size: 20px;
}

.footer-list {
  margin-bottom: 30px;
}

.footer-list li {
  margin-bottom: 20px;
}

.footer-link-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-link {
  color: var(--gray);
  font-size: 20px;
  width: max-content;
}

.footer-link:hover {
  color: var(--violet-light);
  font-size: 20px;
  width: max-content;
}

footer .copyright {
  color: var(--gray);
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  padding-block: 20px;
}

.footer-bottom {
  background-color: var(--light-violet);
  padding: 20px 0;
  width: 100%; /* Ensure it spans the full width */
} 



/* Door */

  .wrapper {
    align-items: center;
    height: 300px;
    width: 250px;
    border: 5px solid #808080;
    position: relative;
    /* 3D */
    perspective: 1000px;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .door {
    background-color: #808080;
    height: 100%;
    width: 50%;
    position: absolute;
    /* inner layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #left-door {
    top: 0;
    left: 0;
    border-right: 1px solid black;
    /* transition */
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  #right-door {
    top: 0;
    right: 0;
    border-left: 1px solid black;
    /* transition */
    transform-origin: right;
    transition: transform 0.5s;
  }
  
  .shape {
    border: 4px solid black;
    width: 100px;
    height: 130px;
  }
  
  .knob {
    width: 10px;
    height: 50px;
    background-color: #D7DADE;
    position: absolute;
  }
  
  #left-knob {
    top: 50%;
    right: 10px;
  }
  
  #right-knob {
    top: 50%;
    left: 10px;
  }
  
  /* Door swing effect */
  .wrapper:hover #left-door{
    transform: rotateY(-140deg);
  }
  
  .wrapper:hover #right-door{
    transform: rotateY(140deg);
  }

  /* Text cloud */

  .text-cloud {
    position: fixed; /* Position the cloud fixed */
    top: 50px; /* Adjust as needed */
 
}

.text-cloud img {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    margin-right: 1.5rem;
}


