body{
    background: url('../image/Episode1_background.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

#timer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    text-align:center;
    width: 150px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #17069e;
    color:#a3a0e9;
    border-radius: 5px;
    float: right;
}

.container {
    transform: translateY(80px); 
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container-image{
    width: 500px;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 680px;
    text-align: center;
    margin-top: 50px;
    color: black;
    font-weight:bold;
}

.answer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
    
}

.button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height: 50px;
    background-color: #8f7fba;
    color: #e6e0ee;
    border-radius:10px;
    font-weight:bold;
}

.button:hover {
    background-color: darkblue;
    color: lightblue;
    cursor: pointer;
}

.explanation{
    display: flex;
    justify-content: center;
    height: 50px;
    transform: translateY(100px); 
    color:black;
    font-weight:100px;
}

#boom {
    display: none;
    position: fixed;
    top: 250px;
    left: 150px;
}

#score-display {
    color: #17069e;
    background-color: #a3a0e9;
    position: fixed;
    top: 115px;
    float: center;
    right:30%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.rotate90 {
    transform: scaleX(-1);
}

.container-right {
    background-color: rgba(255, 255, 255, 0.5); 
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left:180px;  
}
