body{
    background: url('../image/Episode1_background.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

#timer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    text-align:center;
    width: 150px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: pink;
    border-radius: 5px;
    float: right;
}

.container {
    transform: translateY(80px); 
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container-image{
    width: 500px;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 680px;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.answer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
}

.button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height: 50px;
    background-color: lightblue;
    color: blue;
}

.button:hover {
    background-color: darkblue;
    color: lightblue;
    cursor: pointer;
}

.explanation{
    display: flex;
    justify-content: center;
    height: 50px;
    transform: translateY(100px); 
}

#boom {
    display: none;
    position: fixed;
    top: 250px;
    left: 150px;
}

#score-display {
    color: blue;
    background-color: lightblue;
    position: fixed;
    top: 100px;
    float: right;
    right: 36%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.rotate90 {
    transform: scaleX(-1);
}