@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');

body{
  margin: 0;
  color: #eee;
  font-family: Poppins;
  font-size: 12px;
  background-color: hsl(252, 80%, 16%);
}

a{
  text-decoration: none;
}

/* Header */
header {
  background: var(--light-violet);
  width: 1400px;
  height: 75px;
  position: fixed;
  z-index: 4;
  padding: 0.5vw 5vw;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.30);
}
  
header.active {
  top: 0;
}

header .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
header img {
  width: 70px;
  cursor: pointer;
}

.header-action{
  list-style: none; 
  text-decoration: none;
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 4rem;
}

.header-action a {
  font-size: 20px;
  color: var(--white);
  font-weight: 500;
  transition: var(--transition);
  padding: 20px 30px;
  border-radius: 4px;
}

.header-action li{
  position: relative;
}

.header-action li::after{
  --scale:0;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: left;
  width: calc(100% - 20px);
  height: 2px;
  background: var(--gradient);
  transition: var(--transition);
}

.header-action li:is(:hover, :focus){
  background: var(--gradient);
  background-clip: text;
}

.header-action li:is(:hover, :focus)::after{
  --scale:1;
}

:root{
  --black:#000000;
  --violet-dark: hsl(262, 99%, 62%);
  --violet-light: #e6b2f3;
  --gray: hsl(253, 15%, 70%);
  --border:.1rem solid rgba(0,0,0,.2);
  --dark-violet: hsl(252, 100%, 12%);
  --light-violet: hsl(252, 80%, 16%);
  --space-cadet: #1D1F40;
  --white: #FFFFFF;
  --borderline: #2e5984;
  --transition: all 0.3s ease;
  --gradient: linear-gradient(to right, var(--violet-light), var(--violet-dark))
}

.dropbtn {
    font-size: 14px;
    color: var(--black);
    font-weight: 300;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--black);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer */
footer {
  padding: 4vw;
  background-color: var(--light-violet);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-top {
  margin-top: -35px; 
  margin-bottom: -80px; 
  width: 100%;
}

.copyright {
  color: var(--gray);
  font-size: 18px;
  text-align: center;
}