body{
    background: url('../image/castlebackground.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.hint {
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    transform: translateY(75px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
    background-color: rgba(6, 14, 67, 0.4);
    color: white;
    padding: 20px;
    border-radius:50px;
}

a {
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: rgba(6, 14, 67, 0.7);
    padding: 10px;
    border-radius:6px;
}

.image {
    position: relative;
    width: 100px; 
    height: 100px; 
}

.rotate90 {
    width: 250px;
    transform: scaleX(-1) translateY(150px) translateX(-480px);
}    

#evolution {
    transform: scaleX(-1) translateY(-20px) translateX(-400px);
    width: 400px;
    display: none;
    position: absolute;
}

#newWitch {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-110px) translateX(380px) scaleX(-1);
    transition: left 2s ease-in-out; 
}

.next {
    float: right;
    right: 100px;
    top: 500px;
    position: fixed;
    display: none;
}

.next a:hover {
    background-color: darkblue;
    color: lightblue;
    cursor: pointer;
}

.home {
    left: 100px;
    top: 500px;
    position: fixed;
    display: none;
}

.home a:hover {
    background-color: darkblue;
    color: lightblue;
    cursor: pointer;
}

.run-out {
    left: 100%;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px; /* Adjust the height as needed */
    background-color: #150849; /* Background color of the header */
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    z-index: 1000; /* Ensures the header is above other content */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally */
    width: 100%;
    position: relative; /* Allows for absolute positioning of the logo */
}

.header-content a img {
    height: 60px; /* Adjust the logo height as needed */
}


.header-title {
    font-family: "Jersey 10", sans-serif;
    font-size: 24px;
    color: white; /* Text color */
    text-align: center;
    flex-grow: 1;
}