.container {
    height: 600px;
    background-color: black;
    color: rgb(227, 17, 17);
    text-align: center;
}

.retry{
    transform: translateY(100px);
    right: 600px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    color: azure;
    cursor: pointer;
    bottom: 180px;
    position: absolute;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.wrongimage{
    width: 800px;
}