/* admin-main.css */

.main-content {    
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s ease;
    background-image: url("../../image/purplef.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
}

.main-content-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title h2 {
    color: #e2c9ff;
    margin-bottom: 20px;
    font-size: 1.8em;
    text-shadow: 2px 2px 2px #000;
}

.alteration {
    background-color: rgba(78, 51, 128, 0.7);
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 80%;
}

.alteration ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.alteration ul li {
    display: inline;
    margin: 0 10px;
    
}

.alteration ul li a {
    text-decoration: none;
    color: #e2c9ff;
    font-size: 1.1em;
}

.alteration ul li a:hover {
    text-decoration: underline;
}


/* Styles for the chart containers */
.chart-container {
    width: 45%;
    display: inline-block;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .chart-container {
        width: 95%;
        padding: 15px;
    }
}

/* Optional: Style for the chart titles */
.chart-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

/* Optional: Add some space between charts */
.chart-container + .chart-container {
    margin-top: 40px;
}
.charts{
    margin-left:3%;
}