.sidepart {
    text-align: center;
    padding: 20px;
    background-color: #f5f7fa; /* Light background */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.sidepart img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.sidepart .slide-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.sidepart p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.editbtn {
    background-color: hsl(252, 80%, 16%); /* Blue background color */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editbtn:hover {
    background-color: hsl(252, 52%, 42%); /* Pink hover color */
}

/* Adjust the gallery-cell styling */
.gallery-cell {
    margin-top:10px;
    width: 35%;
    height:70dvh;
    background-color: #fff;
    border-radius: 15px;
    margin-right: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery {
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: -20px;
    margin-top: 10px;
}

.gallery-cell:hover {
    transform: translateY(-10px); /* Moves the cell slightly upwards */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Intensifies the shadow */
}